<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="extractor"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.github.veithen.ramsay.ws.metadata.app.MetadataExtractorApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.github.veithen.ramsay.ws.metadata.app.extractor"
            name="WebSphere Metadata Extractor">
         <property
               name="appName"
               value="WebSphere Metadata Extractor">
         </property>
      </product>
   </extension>
</plugin>
