<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="com.github.veithen.ramsay.ws.metadata.javaee"
            class="com.github.veithen.ramsay.ws.metadata.javaee.JavaeePackage"
            genModel="repository.genmodel"/>
   </extension>
   <extension
         id="metadataExtension"
         name="JavaEE Metadata Extension"
         point="com.github.veithen.ramsay.ws.metadata.metadataExtensions">
      <metadataExtension
            class="com.github.veithen.ramsay.ws.metadata.javaee.extension.JavaEEMetadataExtension">
      </metadataExtension>
   </extension>
   <extension
         point="com.github.veithen.ramsay.ws.metadata.adapters">
      <adapterFactory
            class="com.github.veithen.ramsay.ws.metadata.javaee.handler.ApplicationDeploymentDescriptorHandlerAdapterFactory">
      </adapterFactory>
   </extension>

</plugin>
