<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://github.com/veithen/ramsay/cm/cmml"
            class="com.github.veithen.ramsay.emf.cm.cmml.CMMLPackage"
            genModel="model/cmml.genmodel"/>
   </extension>

</plugin>
