<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.ui.newWizards">
        <category id="com.github.veithen.ramsay" name="Ramsay"/>
        <wizard category="com.github.veithen.ramsay"
                class="com.github.veithen.ramsay.ws.extract.ui.NewProjectWizard"
                id="newProjectWizard"
                name="WebSphere Configuration Extraction Project"
                project="true">
        </wizard>
    </extension>
    <extension point="org.eclipse.ui.commands">
        <category id="com.github.veithen.ramsay.ws.extract.ui.commands.category" name="Sample Category"/>
        <command categoryId="com.github.veithen.ramsay.ws.extract.ui.commands.category"
                 id="com.github.veithen.ramsay.ws.extract.ui.commands.extractCommand"
                 name="Extract configuration data"/>
    </extension>
    <extension point="org.eclipse.ui.handlers">
        <handler class="com.github.veithen.ramsay.ws.extract.ui.ExtractHandler"
                 commandId="com.github.veithen.ramsay.ws.extract.ui.commands.extractCommand">
            <enabledWhen>
                <with variable="activeMenuSelection">
                    <iterate ifEmpty="false" operator="and">
                        <adapt type="org.eclipse.core.resources.IProject">
                            <test property="org.eclipse.core.resources.projectNature" value="com.github.veithen.ramsay.ws.extract.nature"/>
                        </adapt>
                    </iterate>
                </with>
            </enabledWhen>
        </handler>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
            <menu label="Ramsay">
                <command commandId="com.github.veithen.ramsay.ws.extract.ui.commands.extractCommand"
                         label="Extract WebSphere configuration"
                         mnemonic="x"/>
            </menu>
        </menuContribution>
    </extension>
</plugin>
